* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
 
}

#header {
  justify-content: space-between;
  align-items: center;
  margin: 80px;
  

}

.horizontal {
  background-color:#1F2235 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  

}

#navbar{
  margin: 40px;
  padding: 10px;
}

.navItem {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 40px; */
   
  
}

.brands {
  width: 150px;
  align-items: center;
  text-align: center;
  padding-left: 50px;
}

.navItem a{
  text-decoration: none;
 text-align: center;
 align-items: center;
 justify-content: space-between;
 margin-left: 30px; 
 padding-right: 40px;
}

.navItem a:hover{
  color: #DB4453;
  cursor: pointer;
}


#brand {
  width: 60px;
}

#home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #24263B;
}

.pic {
  width: 100%;
  /* height: auto; */
 
}

#socialicon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
   margin-left: 50px;
   /* padding: 40px;  */

}

.icon {
  border: solid #DB4453;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
  display: inline-flex;
}

#info {
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  /* margin: 100px; */
}

#leftCon {
  text-align: center;
}

#info {
  margin: 70px;
}
#buttons {
  justify-content: space-between;
  /* text-align: center; */
  /* align-items: center */

}

#service {
  background-color: #1F2235;
  padding: 40px;
  /* margin: 40px; */
}

#myservices{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    text-align: justify;
    align-items: center;

}
/* .card {
  border: solid #DB4453;
  display: flex;
  flex-wrap: wrap;
} */

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  /* height: 300px; */
  /* width: 150px; */
}

.card {
  height: 300px;
  width: 300px;
  background-color: #24263B;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  
}

.card i {
     font-size: 40px;
}